<div class="card" style="background-color: #eeeeee">
    <div class="card-body">
      <h1 class="card-type">Scrabble Words Containing <strong>{{inputText}}</strong></h1>
      <div class="card-body">
        <div class="scrabbleResults">
          <h2 class="letterHeading">7 Letters</h2>
          {{s7}}
          <br>
          <br>
          <h2 class="letterHeading">6 Letters</h2>
          {{s6}}
          <br>
          <br>
          <h2 class="letterHeading">5 Letters</h2>
          {{s5}}
          <br>
          <br>
          <h2 class="letterHeading">4 Letters</h2>
          {{s4}}
          <br>
          <br>
          <h2 class="letterHeading">3 Letters</h2>
          {{s3}}
          <br>
          <br>
          <h2 class="letterHeading">2 Letters</h2>
          {{s2}}
        </div>
        
        <!--
        <div>
          ####<input type="text" [(ngModel)]="message" size="60rem">
          ####<input type="text" (keyup) ="onKey($event)" size="60rem">
          <input type="text" #childMessage size="60rem">
        </div>
        <div>
          <button class="btn btn-primary" (click)="sendMessage()">Send Message!</button>
        </div>
        -->
      </div>
    </div>
  
  </div>