
      <div class="puzzleParent" >
        <div class="parentBody">

          <br><br>
          <h3 class="parentTitle">Word Puzzle Helper</h3>
          <br><br><br>

          <div class="textbox">
            <input type="text" [(ngModel)] = "pText" size="60rem">
          </div>
         <br>
         <div id="button_box">
         <div class="option_buttons">
           
          <!-- Clicking a button will display the selected child component -->
          <!-- These button clicks are what will be used to activate javascript/python method calls -->
          <input type="button" name="type" value="Scramble"  class="btn btn-danger btn-sm"
            (click)="showScramble = true; showUnscramble = false; showScrabble = false; scrambleFunction()"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <input type="button" name="type" value="Unscramble" class="btn btn-success btn-sm"
            (click)="showUnscramble = true; showScramble = false; showScrabble = false; unscrambleFunction()"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <input type="button" name="type" value="Scrabble" class="btn btn-primary btn-sm"
            (click)="showScrabble = true; showScramble = false; showUnscramble = false; scrabble()">
         </div>
         </div>
         <br><br><br>
          
          <div class="container">
                  <app-childcomponent  [inputText] = "pText"
                  [inputResults] = "results"                 
                  *ngIf="showScramble" (scrambleClick)=          
                  "showScramble = false"></app-childcomponent> <!-- Displays the text in the textbox and hides the Scramble component when another button is clicked -->

                  <app-unscramble [inputText] = "pText"
                  [unscrambleResults] = "formattedUnscrambled"
                  *ngIf="showUnscramble" (unscrambleClick)=
                  "showUnscramble = false"></app-unscramble>   <!-- Same as above, but for Unscramble component -->

                  <app-scrabble [inputText] = "pText"
                  [scrabbleResults] = "finishedScrabble"
                  [s7] = "scrabble7"
                  [s6] = "scrabble6"
                  [s5] = "scrabble5"
                  [s4] = "scrabble4"
                  [s3] = "scrabble3"
                  [s2] = "scrabble2"
                  *ngIf="showScrabble" (unscrambleClick)=
                  "showScrabble = false"></app-scrabble>       <!-- Same as above, but for Scrabble component -->

          </div>
        </div>
      </div>


